SERVICE=shorten-url
HOST=0.0.0.0
PORT=8080
WRITE_TIMEOUT=15s
READ_TIMEOUT=15s
PUBLIC_DOMAIN=shortenurl.alwaysdata.net
MIN_SHORTEN_IN_LENGTH=1
MYSQL_HOST=mysql-shortenurl.alwaysdata.net
MYSQL_PORT=3306
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=shortenurl_database