SERVICE="shorten-url"
HOST="localhost"
PORT="8080"
WRITE_TIMEOUT=15s
READ_TIMEOUT=15s

PUBLIC_DOMAIN="yourdomain"
MIN_SHORTEN_IN_LENGTH="1"

ALLOW_ORIGIN="*"
ALLOW_METHODS="GET,POST"
ALLOW_HEADERS="*"

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DATABASE=shorten_url